.digital-time {
  margin: 10% auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;

  border: 1px solid #000;
}

.digital-time__value {
  -ms-grid-row-align: center;
      -ms-flex-item-align: center;
      align-self: center;

  font-size: 16px;
  font-weight: 600;

  color: #751035;
}