*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Roboto", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #b5b2b2;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}